<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta charset="UTF-8">
    <title>css3旋转loading特效</title>

    <link rel="stylesheet" href="../../static/assets/css/normalize.min.css">
    <link rel="stylesheet" href="../../static/assets/css/styleloading.css">

</head>
<body>
    <br /><br /><br />
    <div class='loading-anim'>
        <div class='border out'></div>
        <div class='border in'></div>
        <div class='border mid'></div>
        <div class='circle'>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>
        </div>
    </div>
</body>
</html>